@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.weatherForm{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input{
    margin-top: 5px;
    width: 60%;
}
body{
      overflow-x: hidden;
      background-image: url('./assets/XHqB.gif'); 
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat; 
      width: 100vw;
      height: 100vh;
}
.info{
    padding-top: 3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
iframe{
    width: 100%;
}
h4{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: rgb(236, 236, 236);
}
.information{
    width: 60%;
    height: 180px;
    border-radius: 10px;
    display: flex;
    padding: 10px 0 20px 0;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(10, 9, 9, 0.582);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 6rem;
    
}
.infoIcon{
    display: flex;
    flex-direction: row;
}
.gradosYtext{
    color: rgb(255, 184, 118);
}
.grados{
   font-size: 1.7rem;
}
.fechaHora{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}
.mapa{
    width: 60%;
    margin-top: 20px;
}
h5{
    color: rgb(42, 247, 230);
}
h3{
    color: rgb(255, 255, 255);
    
}
.noencontrado{
    height: 79vh;
}
p{
    color: aliceblue;
    position: fixed;
    margin-left: 20px;
}

@media (max-width: 400px){
    h5{
        font-size: 15px;
    }
}
@media (max-width: 770px){
    .information{
        width: 90%;
    }
    .input{
        width: 90%;
    }
    .mapa{
        width: 90%;
        margin-top: 20px;
    }
}
@media (max-height: 870px){
    body{
        height: auto;
        padding-bottom: 30px;
    }
}